body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-family: 'PT Sans', sans-serif;
}
input:focus, select:focus {
  outline: none;
}
body, input {
  box-sizing:border-box;
}
#app, #action-section {
  display: grid;
}
#app {
  grid-template-columns: 15% 80%;
}
#action-section {
  grid-template-columns: 33% 33% 33%;
  grid-column-start: 2;
  padding-left: 5%;
  overflow-y: scroll;
}
#navigation {
  height: 100vh;
  background: #f3f3f3;
  grid-template-columns: 50% 50%;
}
#navigation, #action-section {
  height: 100vh;
}
.item {
  overflow-wrap: break-word;
  border-radius: 6px;
  -webkit-box-shadow: 0px 2px 36px 1px rgba(209,209,209,1);
  -moz-box-shadow: 0px 2px 36px 1px rgba(209,209,209,1);
  box-shadow: 0px 2px 36px 1px rgba(209,209,209,1);
}
.item-container, .item-url, .item-text, .indicator-container {
  padding: 10px;
}

.item-text {
  margin: 0 0 10px 0;
}

.item-url {
  margin: 0;
}
.navbar-item {
  padding: 10px;
}
.navbar-item:hover {
  background: #ececec;
}
.navbar-item a {
  color: #333333;
  text-decoration: none;
}
.indicator {
  height: 10px;
  background: yellow;
  width: 50px;
}

 .btn-primary {
  width: 100%;
  border: none;
  padding: 0px;
  padding: 10px;
  color: #fff;
  background: #FF512F;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #DD2476, #FF512F);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #DD2476, #FF512F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.copy-button {
  border-radius: 0 0 6px 6px;
}
.copy-button:focus {
  outline: none;
}
.compose-section {
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 10;
  background: rgba(34,34,34,0.6);
  top: 0;
  left: 0;
}
#compose-exit-pad {
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 9;
}
.compose-exit {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  text-decoration: none;
}
.form-container {
  background: #fff;
  padding: 10px;
  border-radius: 6px;
  z-index: 11;
}
.form-text-area {
  margin-bottom: 10px;
}
.form-text-area:focus {
  outline:none;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



.flex {
  display: flex;
}
.flex-start {
  align-self: flex-start;
}
.w-100 {
  width: 100%;
}
.hide {
  display: none;
}
.marg-bottom-10 {
  margin-bottom: 10px;
}
